body
    {
        margin: 0;
        background: #000;
        height: 100vh;
        overflow: hidden;
    }

span
    {
        width: 100px;
        height: 100px;
        background-image: url("https://cdn0.iconfinder.com/data/icons/love-hand-drawn-color/64/heart-256.png");
        background-size: cover;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        pointer-events: none;
        animation: animate 10s linear;
    }

    @keyframes animate {
        0%{
            transform: translate(-50%, -50%);
            opacity: 1;
            filter: hue-rotate(0);
        }

        100%{
            transform: translate(-50%, -5000%);
            opacity: 0;
            filter: hue-rotate(720deg);
        }
    }